<html>
	<head>
		<script src="/static/transaction/script.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/transaction/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SplitCash!</title>
	</head>
	<body>
		<div class="container-fluid" id="wrapper">
                <div id="header">
			<div id="heading"><a href="/">SplitCash!</a></div>
                        <div id="links">
                                <a id="l1" href="/check/">STATUS</a>&nbsp;&nbsp;&nbsp;
                                <a id="l2" href="/check/profile/">PROFILE</a>&nbsp;&nbsp;&nbsp;
                                <a id="l3" href="/transaction/add/">ADD</a>&nbsp;&nbsp;&nbsp;
				<a id="l4" href="/transaction/delete/">VIEW/DELETE</a>&nbsp;&nbsp;&nbsp;
	                        <a id="l5" href="/logout/">LOGOUT</a>
			</div>
		</div>
		
		<div id="content">
		<div id="form" role="form">
			<form method="post" name="addform" onsubmit="return validate()">
				{% csrf_token %}
				<div id="nam">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">Name:</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<select id="drop-down" class="form-control" name="user" required="required">
							<option></option>
							{% for each in names %}
								{% for k, v in each.items %}
									<option value={{k}}>{{v}}</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>
				</div>
				
				<br>
				<div class="clearfix col-xs-12 col-sm-12 col-md-6 col-lg-6" style="opacity:0.0">.</div>
				
				<div id="amt">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						Amount: 
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">	
						<input class="form-control" id="amt-text-box" type="text" name="amount" required="required">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div id="amt_message"></div>
					</div>
				</div>	

				<br>
				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="opacity:0.0">.</div>
				
				<div id="shr">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						Share with:
					</div>
					{% for each in names %}
						{% for k,v in each.items %}
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><input class="cb" type="checkbox" name="c{{k}}" checked>{{v}}</input></div>
						{% endfor %}
					{% endfor %}
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div id="cb_message"></div></div>
				
				</div>

				<br>
				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="opacity:0.0">.</div>

				<div id="cmt">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						Comment: 
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<input class="form-control" type=text id="cmt-text-box" name="comment" required="required">
					</div>	
				</div>

				<br>
				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="opacity:0.0">.</div>

				<div id="sbt" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input type=submit id="submit" value="Submit!">
				</div>
				{% if added %}
					<div id="message" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Your entry has been made.</div>
				{% endif %}

				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="opacity:0.0">.</div>
				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="opacity:0.0">.</div>
			</form>
		</div>
		</div>
		
		<div id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Created by <a target="_blank" href="http://www-scf.usc.edu/~shantanb/">Shantanu Bal</a> - Powered by Django®</div>
		</div>
	</div>
	</body>
</html>
